.game {
  &__title {
    font-family: Thrones, Arial;
    padding: 20px 0 10px;
    text-align: center;
  }

  &__underTitle {
    font-family: Arial;
    padding: 20px 0 10px;
    font-size: 30px;
    text-align: center;
  }

  &__normalTitle {
    font-family: Arial;
    padding: 20px 0 10px;
    font-size: 20px;
    text-align: center;
  }

  &__button {

    &--roll {
      padding: 10px 30px;
      margin-top: 10px;
      border: none;
      cursor: pointer;
      margin-bottom: 10px;
      border-radius: 10px;
      margin-right: 20px;
      background-color: $buttonColor;

      &:hover {
        background-color: darken($buttonColor, 10%);
      }
    }

    &--align {
      float: right;
      margin-top: 100px !important;
    }

    &--rollInactive {
      padding: 10px 30px;
      margin-top: 10px;
      border: none;
      cursor: pointer;
      margin-bottom: 10px;
      border-radius: 10px;
      margin-right: 20px;
    }
  }

  &__rollDisplay {
    padding: 15px 0;
    background-color: rgba(200, 200, 200, 0.6);
    border-radius: 5px;
    width: 85px;
    text-align: center;
  }

  &__rollValue {
    font-size: 3rem;
  }

  &__row {
    margin-bottom: 30px;
    text-align: left;
  }

  &__rowEnd {
    text-align: left;
  }

  &__background {
    background-color: rgba(200, 200, 200, 0.6);
    border-radius: 20px;
    padding-bottom: 10px;
  }

  &__player {
    height: 50px;
    width: 50px;
    margin-top: -5px;
  }
}
